.wrapper {
  position: relative;
}

.leftNavigation,
.rightNavigation {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.leftNavigation {
  left: -10px;
}

.rightNavigation {
  right: 10px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 10px;
  }

  .leftNavigation,
  .rightNavigation {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 0;
  }

  .leftNavigation,
  .rightNavigation {
    display: none;
  }
}
