.wrapper {
  margin-left: 15px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 20px;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.cardsWrapper {
  margin-top: 18px;
}

.filterWrapper {
  margin-top: 15px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.filterWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

h3 {
  font-size: 23px;
  color: white;
}
